
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 54px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.red {
    color: rgb(255, 0, 0);
}

.red2 {
    color: rgb(255, 255, 255);
}

.titulosite{
    font-size: 44px;
}
.udemy{
    color: blueviolet;
    text-decoration: none
}
.code{
    color: aqua;
}

.bot-modulos{
    margin-top: 30px;
}
.btn-group{
    margin-top: 20px;
}
.btn_voltar{
    margin-top: 30px;
    margin-bottom: 0;
}

button a{
    color: black;
}

footer p {
    margin-bottom: 0;
}